*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.titulo{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 50px;
}
.box-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    background-color: rgba(11, 235, 40, 0.205);
    width: 522px;
    height: 800px;
    margin: 0 auto;
    border-radius: 50px;
}
.btn-envia{
    margin: 20px;
    padding: 10px;
    width: 120px;

}
input{
    padding: 15px;
    border: none;
    background-color: rgba(109, 243, 0, 0.411);
    border-radius: 50px;
    
}
label{
    margin-top: 20px;
}
